body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #16a3b7;
  --mainColorHover: #06707e;
  --secondColor: #c7c7c7;
  --modifyColor: #ffc207;
  --modifyColorHover: #dca707;
  --deleteColor: #DB3245;
  --deleteColorHover: #a52a3f;
  --checkboxColor: #0e7c26;
  --button-text-color: white;
  --primary-text-color: #1c1d21;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--button-text-color);
}

button {
  cursor: pointer;
}

.content {
  padding: 0 2em;
}

.header-title {
  font-size: 1.5em;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.11em solid var(--secondColor);
  border-radius: 0.2em;
  padding: 0 2em;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
}

.input-group-icon {
  background-color: var(--mainColor);
  color: white;
  border-right: none;
  border-radius: 0.2em 0 0 0.2em;
}

.input-group-icon:hover {
  background-color: var(--mainColorHover);
  cursor: pointer;
}

.todo-input-field {
  border: 0.12em solid var(--secondColor);
  border-radius: 0 0.2em 0.2em 0;
  width: 100%;
  padding: 0.5em 1em;
}

.todo-input-field:focus {
  border: 0.11em solid var(--mainColorHover);
  outline: none;
  caret-color: var(--mainColorHover);
}

.todo-input-field:focus::placeholder {
  color: var(--secondColor);
}

.input-group-icon i {
  padding: 0.5em 0.7em;
}

.todo-input__submit,
.filter-btn,
.delete-done-btn,
.delete-all-btn {
  position: relative;
  color: var(--button-text-color);
  border: none;
  border-radius: 0.2em;
  background-color: var(--mainColor);
  width: 100%;
  padding: 0.6em 1em;
  overflow: hidden;
  transition:transform 0.3s ease ,box-shadow 0.3s ease;
  margin: 1em;
}

.shared-hover:hover,.shared-hover:focus {
  background-color: var(--mainColorHover);
  transform: translateY(-0.2em);
  box-shadow: 0 0.5em 1em rgba(0, 217, 255, 0.3);
}


.delete-done-btn,
.delete-all-btn {
  background-color: var(--deleteColor);
  margin: 0;
}

.shared-delete-hover:hover {
  background-color: var(--deleteColorHover);
  transform: translateY(-0.2em);
  box-shadow: 0 0.5em 1em rgba(255, 8, 8, 0.3);
}

/*Section 2*/
.list-action-btns {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.filter-btn {
  margin: 0;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  margin-top: 3em;
  max-height: 45vh;
  overflow-y: auto;
  padding-right: 0.2em;
}

.todo-list-container::-webkit-scrollbar {
  width: 0.1em;
}

.todo-list-container::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 0.2em;
}

.todo-list-container::-webkit-scrollbar-track {
  background-color: var(--secondColor);
}

.task {
  width: 100%;
}

.task-flex {
  display: flex;
  justify-content: space-between;
  padding: 0.6em 1em;
  align-items: center;
  border: 0.11em solid var(--secondColor);
}

.task-flex:first-of-type {
  border-radius: 0.2em 0.2em 0 0;
}

.task-flex:last-of-type {
  border-radius: 0 0 0.2em 0.2em;
}

.task-operations {
  display: flex;
  column-gap: 0.6em;
  align-items: center;
}

.task-operations button {
  border: none;
  background-color: var(--button-text-color);
  padding: 0;
}

.task-modify i {
  color: var(--modifyColor);
}

.task-modify i:hover {
  color: var(--modifyColorHover);
}

.task-delete i {
  color: var(--deleteColor);
}

.task-delete i:hover {
  color: var(--deleteColorHover);
}

.task-checkbox {
  margin: 0;
  border-radius: 0.15em;
}

.list-actions-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 1.5em;
  margin: 1em 0;
}

.task-checkbox {
  appearance: none;
  width: 1em;
  height: 1em;
  border: 0.11em solid var(--secondColor);
  background-color: var(--button-text-color);
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.task-checkbox:hover {
  background-color: var(--secondColor);
}

.task-operations input[type="checkbox"]:checked {
  background-color: var(--button-text-color);
  border: 0.11em solid var(--checkboxColor);
}

.task-operations input[type="checkbox"]:checked:hover {
  background-color: var(--secondColor);
  border: 0.11em solid var(--deleteColor);
}

.task:has(.task-operations input[type="checkbox"]:checked) .task-text {
  text-decoration: line-through;
  color: var(--deleteColor);
}

.task-operations input[type="checkbox"]:checked::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  color: var(--checkboxColor);
  font-weight: 900;
  font-size: 0.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-operations input[type="checkbox"]:checked:hover::before {
  color: var(--deleteColor);
}

.error, .rename-error{
  font-size: 0.8em;
  margin: 0.5em 0;
  color: var(--deleteColor);
  align-self: flex-start;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--button-text-color);
  padding: 1em;
  border-radius: 0.5em;
  width: 18em;
  text-align: center;
}

.rename-input{
  width: calc(100% - 2em);
  padding: 0.5em;
}

.modal-actions {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  margin-top: 1em;
}

.save-btn,
.cancel-btn,
.ok-btn,
.confirm-btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
}

.save-btn,
.ok-btn {
  background-color: var(--mainColor);
  color: white;
}

.save-btn:hover,
.ok-btn:hover {
  background-color: var(--mainColorHover);
} 

.cancel-btn {
  background-color: var(--deleteColor);
  color: white;
}

.cancel-btn:hover {
  background-color: var(--deleteColorHover);
}

.confirm-btn:hover {
  background-color: var(--secondColor);
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

